*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  }

body {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: #fff;
  }
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .wrapper {
    width: 640px;
    height: 480px;
    border: 1px solid #000;
    background-color: #fff;
    margin: auto;

    #canvas {
      width:640px;
      height: 480px;
    }
  }

  .boxFooter {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .footer {
      color:#fff;
      background: #000;
      height: 50px;

      .pfooter {
        text-align: right;
        width: 720px;
        margin: 20px auto;
      }
    }
  }

}
